<div class="container  mw-100 p-0 fixed-bottom">

  <footer class="text-center text-lg-start " style="background-color: #38373a;">
    <div class="container d-flex justify-content-center py-2">
      
        <a href="https://github.com/AndersonMattarDev" target="_blank">
          <button  type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #38373a;">
            <i class="fa fa-github" aria-hidden="true"></i>
      </button>          
        </a>
        <a href="https://www.linkedin.com/in/anderson-moreno-mattar-05347b257/" target="_blank">
          <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #38373a;">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </button>
        </a>
        <a href="https://www.instagram.com/mattarandersonmoreno/" target="_blank">
          <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #38373a;">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </button>
        </a>      
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2025 Copyright:
      <a class="text-white" href="https://alltechsolutions.netlify.app/">alltechsolutions</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
<!-- End of .container -->

<!-- aula 06 -->
