<!DOCTYPE html>
<div class="container-fluid text-white bg-dark p-5 d-flex flex-column align-items-center" style="height: 100vh;">
    <h1 class="display-1">Home</h1>
  <mat-card style="max-width: 1o00px; margin: 8px; box-shadow: 0 4px 8px rgba(212, 206, 206, 0.712);">
       
            <mat-card-title-group>
                <mat-card-title class="text-center w-100" style="font-size: 1.8rem;">Anderson's Portfolio</mat-card-title>
              <mat-card-subtitle class="lead">Welcome to Anderson's portfolio!</mat-card-subtitle>              
            </mat-card-title-group>
            <img src="/public/foto.jpg"
            alt="Profile Photo" class="img-thumbnail mt-3 img-fluid" style="max-width: 230px; width: 200px; height: 300px;">

        <mat-card-content>
           
            <span class="initialism">Este portfólio foi desenvolvido com o framework Angular usando typeScript e bootstrap,
            no menu estão os caminhos para conhecer melhor a mim, minha formação, habilidades e também meus projetos.<br>
            Espero que gostem!
            </span>
        </mat-card-content>
   </mat-card>
    <div>
        
    </div>
    
</div>
