<!DOCTYPE html>
<div class="container-fluid text-white bg-dark p-5 d-flex flex-column align-items-center" style="height: 100vh;">
    <h1 class="display-1">Home</h1>
  <mat-card class="h-50 w-50 p-3 bg-dark" style="align-items: center; box-shadow: 0 4px 8px rgba(235, 233, 233, 0.712);">
       
            <mat-card-title-group style="display: flex; justify-content: center;">
                <mat-card-title class="text-center w-100" style="font-size: 1.8rem;">Anderson's Portfolio</mat-card-title>
              <mat-card-subtitle class="lead text-white">Welcome to Anderson's portfolio!</mat-card-subtitle>              
            </mat-card-title-group>
            <img src="/public/foto.jpg"
            alt="Profile Photo" 
            class="img-thumbnail img-fluid h-50 w-40">
 
        <mat-card-content style="display: flex; justify-content: center;">
           
          <span class="initialism text-center text-wrap">Este portfólio foi desenvolvido com o framework Angular usando typeScript,
           material design e bootstrap, no menu estão os caminhos para conhecer melhor a mim, minha formação,
           habilidades e também meus projetos.<br>
           Espero que gostem!
          </span>
        </mat-card-content>
   </mat-card>
    <div>
        
    </div>
    
</div>
