<!DOCTYPE html>
<div class="container-fluid text-white bg-dark p-5 d-flex flex-column align-items-center" style="height: 100vh;">
    <h1 class="display-1">Home</h1>
    <div>
        <img src="/public/foto.jpg"
         alt="Profile Photo" class="img-thumbnail mt-3 img-fluid" style="max-width: 230px; width: 200px; height: 300px;">
    </div>
    <p class="lead">Welcome to Anderson's portfolio!</p>
    <span class="initialism">Este portfólio foi desenvolvido com o framework Angular usando typeScript e bootstrap,
    no menu estão os caminhos para conhecer melhor a mim, minha formação e habilidades.<br>
    Espero que gostem!
      </span>
</div>
